insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660

if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod all_video
    insmod gfxterm
    insmod png
    set gfxmode="auto"
    terminal_input console
    terminal_output gfxterm
    
    # Load custom ZZZ theme
    set theme="${prefix}/themes/phaethon/theme.txt"
fi

if [ "${grub_platform}" == 'efi' ]; then
    archiso_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    archiso_platform='BIOS'
else
    archiso_platform="${grub_cpu}-${grub_platform}"
fi

default=phaethon
timeout=15
timeout_style=menu

menuentry "PhaethonOS (%ARCH%, ${archiso_platform})" --class phaethon --class gnu-linux --class gnu --class os --id 'phaethon' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
}

menuentry "System shutdown" --class shutdown --class poweroff {
    echo 'System shutting down...'
    halt
}

menuentry "System restart" --class reboot --class restart {
    echo 'System rebooting...'
    reboot
}
